#quote-q2{
  color:white;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}



.background-img-q2{
  background-image: url('quote-2.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 300px;
  position: relative;
}

.layer-q2{

background-color: rgba(0,0,0, 0.8);
top: 0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
padding-top: 10px;
//margin-top: 3479px;
}

.quote-title-q2 h1{
  margin-top: 100px;
  font-size: 40px;
}

.quote-q2-title h2{
  margin-top: 10px;
  font-size: 40px;
}



.quote-q2-title h2{
  font-size: 40px;
}

#quote-q2 {
    position: relative;
    padding: 0px 0px 8px 0px;
    //background: black;
}

#quote-q2:before{
  background:
  linear-gradient(-45deg, black 16px, red 16px, blue 16px,  transparent 0),
  linear-gradient(45deg, black 16px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 15px 32px;
  content: " ";
  display: block;
  height: 32px;
  width: 100%;
  position: relative;
  bottom: 0px;
  left:0;
	}


#quote-q2:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: right-top;
    background-repeat: repeat-x;
    background-size: 15px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
